* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e0f7eb;
}

.game-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    font-family: inherit;
    font-size: 2rem; /* ⭐ 全區字體大小 */
}

.info-block {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    padding: 0.4rem 0.8rem;
    height: 3.2rem;

    border-bottom: 2px solid #000;
    /* border-radius: 0.6rem; */
    box-sizing: border-box;
}

.info-block input {
  border: none;
  outline: none;
  background: transparent;

  font-size: 2rem;
  font-family: inherit;
  text-align: center;

  height: 100%;
}

.info-block .label {
  white-space: nowrap;
  font-size: 1.6rem;   /* 稍微比主字小一點，看起來更平衡 */
}

.custom-date {
  font-size: 2rem;
  border: none;
  border-bottom: 2px solid #333;
  background: transparent;
  padding: 4px 0;
  outline: none;
  font-family: inherit;
}

.custom-date:hover {
  cursor: pointer;
}

/* 移除 yyyy/mm/dd 預設樣式 */
.custom-date::-webkit-datetime-edit {
  color: #333;
}

/* 隱藏日曆 icon（Chrome / Edge） */
.custom-date::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}


.teams input {
  width: 8rem;
}

.vs {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0 0.3rem;
}

.score span {
  min-width: 3rem;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.btn {
  width: 2.6rem;
  height: 2.6rem;

  border: none;
  border-radius: 5rem;

  background: #2a8230;
  color: #fff;
  cursor: pointer;

  font-size: 1.8rem;
  line-height: 1;
  padding: 0;
}

.btn:active {
  background: #3b9d41;
}

.player-records {
    margin: 2rem 10rem;
}

.player-control {
  display: flex;
  align-items: center;
}

.player-control button {
    display: block;
    font-size: 2rem;
    margin: 2rem auto;
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 5rem;
    background-color: #2a8230;
    color: #fff;
    user-select: none;
}

.player-control button:hover {
    background-color: #3b9d41;
    cursor: pointer;
}

.player-controls button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  background-color: #939b94;
}

table{
    border-collapse:collapse;
    width:100%;
    font-family: "Noto Sans TC", system-ui;
    font-size: 1.5rem;
}

th, td{
    border:2px solid #000;
    text-align:center;
    padding: 1rem 0;
    min-width:42px;
}

thead th{
    font-weight:700;
}
  
.num { 
    width:7rem; 
}

.num input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  border: none;
  outline: none;
  background: transparent;

  text-align: center;
  font-size: 2rem;
  font-family: inherit;
}

  
.gray { 
    background:#c5e4d3; 
}

.L { 
    border-left:2.5px solid #000; 
}

.R { 
    border-right:2.5px solid #000; 
}

.cell {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
}
.cell:active {
  background: #d0e4ff;
}
